body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        deepskyblue,
        skyblue,
        lightblue 20%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.balloon{
    width: 12em;
    height: 19em;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: drift 4s infinite alternate;
}
@keyframes drift{
    to{
        transform: translateY(-50%);
    }
}
.envelope{
    width: inherit;
    height: 16em;
    position: relative;
    overflow: hidden;
}
.envelope span{
    position: absolute;
    width: inherit;
    height: 12em;
    color: orange;
    background-color: currentColor;
    border-radius: 50%;
}
.envelope span::before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-width: 10em 5.5em 0 5.5em;
    border-color: currentColor transparent transparent transparent;
    border-style: solid;
    left: calc(50% - 5.5em);
    top: 8.45em;
}
.envelope span:nth-child(2){
    filter: brightness(0.85) contrast(1.4);
    transform: scaleX(0.4);
}
.basket{
    position: relative;
    width: 2em;
    height: 3em;
}
.basket::before{
    content:'';
    position:absolute;
    width: inherit;
    height: 1.6em;
    background-color: peru;
    bottom: 0;
    border-radius: 0 0 0.5em 0.5em;
}
.basket::after{
    content: '';
    position: absolute;
    width: 105%;
    height: 0.3em;
    background-color: saddlebrown;
    top: 1.3em;
    left: calc((100% - 105%) / 2);
    border-radius: 0.3em;
}
.basket span{
    position: absolute;
    width: 0.1em;
    height: 1.5em;
    background: burlywood;
    left: calc((var(--n) - 1) * 0.63em);
    transform-origin: bottom;
    transform: rotate(calc(var(--r)*7deg));
}
.basket span:nth-child(1){--n:1;--r:-2;}
.basket span:nth-child(2){--n:2;--r:-1;}
.basket span:nth-child(3){--n:3;--r:1;}
.basket span:nth-child(4){--n:4;--r:2;}